%table
  %tr
    %th Name
    %th Project
    %th Status
    %th Duration

  - tasks.each do |task|
    %tr
      %td= link_to task.name, task
      %td= link_to task.project.name, task.project
      %td= task.status
      %td
        = task.duration
        hours